<h1> Boxer Data Set Analysis </h1>

This dataset contains information on all boxers, which includes their name, ranking, country, weight, promoter, trainer, etc

Here's The Link to the Data Set: https://www.kaggle.com/mertcankarakoc/boxer-data

You simply press download.

My two interesting questions are:

Does your weight affect your win rate?

Does your country affect your weight?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("boxer_data.csv")
df

,Unnamed: 0,Rating,Boxer,Country,Weight,Ceiling,Action,Promoter,Trainer,Sex
0,0,1,"Alvarez, Canelo",MX,168,5.0,4.13,NaN,"Reynoso, Eddy",Male
1,1,2,"Shields, Claressa",US,154,5.0,4.00,Salita,"Jackson, John David",Female
2,2,3,"McCaskill, Jessica",US,147,5.0,4.00,Matchroom,"Ramos, Rick",Female
3,3,4,"Estrada, Seniesa",US,105,5.0,4.00,Golden Boy,"Campos, Dean",Female
4,4,5,"Serrano, Amanda",PR,126,5.0,5.00,Most Valuable Promotions,"Maldonado, Jordan",Female
...,...,...,...,...,...,...,...,...,...,...
1464,1464,1465,"Chance, Rajon",US,122,NaN,2.00,NaN,"Chance, Roger",Male
1465,1465,1466,"Walsh, Nico Ali",US,160,NaN,3.00,Top Rank,"Steward, SugarHill",Male
1466,1466,1467,"Fury, Tommy",GB,200,NaN,3.00,NaN,"Fury, John",Male
1467,1467,1468,"Julan, Frederic",FR,175,NaN,3.00,NaN,NaN,Male
1468,1468,1469,"Barrionuevo, Cesar",AR,160,NaN,2.00,Sampson,NaN,Male

In [6]:
df.describe()

        Unnamed: 0       Rating      Ceiling       Action
count  1469.000000  1469.000000  1359.000000  1469.000000
mean    734.000000   735.000000     1.648389     3.108543
std     424.208086   424.208086     0.875720     0.716991
min       0.000000     1.000000     0.020000     1.000000
25%     367.000000   368.000000     1.000000     3.000000
50%     734.000000   735.000000     1.420000     3.000000
75%    1101.000000  1102.000000     2.000000     3.750000
max    1468.000000  1469.000000     5.000000     5.000000

In [12]:
df.columns.array

<PandasArray>
['Unnamed: 0',     'Rating',      'Boxer',    'Country',     'Weight',
    'Ceiling',     'Action',   'Promoter',    'Trainer',        'Sex']
Length: 10, dtype: object

<h1> Simple Plot </h1>